<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.navers.vlove">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.MenuScreenActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.BoardScreenActivity"
            android:label="@string/pref_group_vboard" />
        <activity android:name=".views.LaterScreenActivity"
            android:label="@string/pref_group_vlater" />
        <activity android:name=".SettingsActivity"
            android:label="@string/action_settings" />
        <activity android:name=".ui.dialogs.Popup"
            android:excludeFromRecents="true"
            android:theme="@style/DialogTheme"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.dialogs.Saver"
            android:excludeFromRecents="true"
            android:theme="@style/DialogTheme"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/share_save_video">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.dialogs.Translator"
            android:excludeFromRecents="true"
            android:theme="@style/DialogTheme"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/share_translate_text">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service android:name=".services.PopupService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter >
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <service android:name=".services.SaverService" />
        <service android:name=".services.DownloaderService" />
        <service android:name=".services.BoardService" />
        <service android:name=".services.TranslatorService" />

        <receiver android:name=".broadcasters.BoardBroadcasters">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.navers.vlove.action.BOARD_SYNC" />
                <action android:name="com.navers.vlove.action.BOARD_SYNC_CANCEL" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.navers.vlove.action.BOARD_TEST" />
            </intent-filter>
        </receiver>
    </application>

</manifest>